@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gameCard {
    border-style: solid;
    border-color: #DA667B;
    border-width: 15px;  
    border-radius: 25px;
    color: white;
    margin: 25px;
    padding: 25px;
    min-width: 70vh;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    border-style: solid;
    border-color: #DA667B;
    border-width: 5px;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding: 7px 15px;
}
button:hover {
   border-color: white;
   background-color: #DA667B; 
}

/* #startBtn {
    align-self: center;
    justify-self: center;
} */

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 4.5em;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* #titlePaper {
    text-align: center;
} */

/* #titleScissors {
    text-align: end;
} */

#title {
    margin-bottom: 25px;
}

#round {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}

#scoreBanner {
    width: 100%;
    background-color: #DA667B;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.score {
    font-family: "Bebas Neue", sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.25em;
}

#battleSpace {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.battleChoice {
    background-color: #DA667B;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#battleText {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}

#chooseWeapon {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

#rpsChoices {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.choiceImg {
    height: 150px;
    width: 150px;
}

#endH1 {
    text-align: center;
}

#endImgDiv {
    background-color: #DA667B;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: 25px;
}

.endImg {
    height: auto;
    width: 245px;
}

#finalScore {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

